.Start_Recipe_frame{
    position: absolute;
    width: 1152px;
    height: 700px;

    background: #F4F4F4;
}

.title_bar{
  height: 56px;
  width: 100%;
  padding-top: 18px;
  
  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  vertical-align: center;

  color: #3D3B3B;

  background: #A2D7A9;
}


.ingredients_box{
  position: absolute;
  width: 246px;
  height: 409px;
  left: 59px;
  top: 98px;

  background: #FFFFFF;
  opacity: 0.5;
  box-shadow: -15px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
}

.ingredients_content{
  width: 208px;
  height: 276px;
  margin-left: 19px;
  margin-top: 45px;
  margin-bottom: 88px;
  margin-right: 19px;
  
  h1{
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #000000;
  }
  p{
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: #000000;
  }
  
}

.description_and_start{
  width: 492px;
  height: 576px;
  margin-top: 24px;
  margin-left: 413px;

}

.image_component{
  width: 370px;
  height: 195px;
  margin-left: 61px;
  background: #DBEBDE;
  border-radius: 17px;  
  
  img
  {
    height: 195px;
    width : 226px;
    margin-left: 72px;
    margin-right: 72px;
    
    
    top: calc(50% - 223px/2);

   
    border-radius: 64px;
  }
}

.intro_description{
  width: 492px;
  height: 275px;
  margin-top: 32px;

  background: #A2D7A9;
  border-radius: 33px;
}

.intro_slide_highlighted_paragraph_background{
  width: 450px;
  height: 242px;
  margin-left: 21px;
  margin-top: -259px;

  background: #96C89D;
  mix-blend-mode: normal;
  border-radius: 55px;
}

.intro_slide_Title_and_paragraph{
  width: 394px;
  height: 191px;
  margin-left: 49px;
  margin-top: -227px;
  
  h1{
    font-family: Muli;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    /* or 117% */

    text-align: center;

    color: #FFFFFF;
  }
  p{
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* or 117% */

    text-align: center;

    color: #FFFFFF;
  }
}

.intro_start_button{
  width: 199px;
  height: 38px;
  margin-left: 147px;
  margin-top: 76px;

  background: #93C399;
  border-radius: 5px;
  
  h1{
    height: 30px;
    margin-left: 21px;
    margin-right: 0px;
    margin-bottom: 4px;

    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #535252;
  }
  
  
}