%link{:href => "https://fonts.googleapis.com/css?family=Lobster&display=swap", :rel => "stylesheet"}
%link{:href => "https://fonts.googleapis.com/css?family=Muli&display=swap", :rel => "stylesheet"}

.Start_Recipe_frame
  .title_bar
    foodies
  .ingredients_box
    .ingredients_content
      %h1 Ingredients
      %p ½ cup milk,  warmed to 100°
      %p 2¼ teaspoons active dry yeast
      %p 2 large eggs
      %p 1 tablespoon Diamond Crystal or 1¾ teaspoons Morton kosher salt
  .description_and_start 
    .image_component
      %img(src = "https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/healthy-eating-ingredients-1296x728-header.jpg?w=1575")
    .intro_description
    .intro_slide_highlighted_paragraph_background
    .intro_slide_Title_and_paragraph
      %h1 INTRODUCTION: Baked Alaska
      %p This old-fashioned dessert, which originated at New York City's Delmonico's restaurant to commemorate the purchase of Alaska in 1867.
      %p An ice-cream cake covered with an igloo of meringue emerging from an oven is a real showstopper.
    .intro_start_button 
      %h1 Start Recipe