%link{:href => "https://fonts.googleapis.com/css?family=Lobster&display=swap", :rel => "stylesheet"}
%link{:href => "https://fonts.googleapis.com/css?family=Muli&display=swap", :rel => "stylesheet"}

%link{:href => "https://fonts.googleapis.com/css?family=Roboto&display=swap", :rel => "stylesheet"}



.Step1_frame
  .title_bar foodies
  .Description_and_Taskbar_frame
    .description_frame
      .intro_slide_highlighted_paragraph_background
        .top_box
          .step_title Step 1
        .image_paragraph_box
          .image_container
            .image
              %img{:src => "https://eatforum.org/content/uploads/2018/05/table_with_food_top_view_900x700.jpg", :style => "height: 52.26px; width: 82px;"}
            .image
              %img{:src => "https://eatforum.org/content/uploads/2018/05/table_with_food_top_view_900x700.jpg", :style => "height: 52.26px; width: 82px;"}
            .image
              %img{:src => "https://eatforum.org/content/uploads/2018/05/table_with_food_top_view_900x700.jpg", :style => "height: 52.26px; width: 82px;"}
          .step1_description Preheat oven to 350 degrees. Line an 8-inch round cake pan with parchment paper, and spray with cooking spray.
        .action_next
          .action_arrow
            %img{:src => "https://i.imgur.com/l57gfJe.png", :style => "height: 44px; width: 44px;"}
          
    .ProgressBar
      .status_previous Intro
      .status_current 1
      .status_next 2
      .status_next 3
      .status_next 4
      .status_next 5
      .status_last Last