%link{:href => "https://fonts.googleapis.com/css?family=Lobster&display=swap", :rel => "stylesheet"}
%link{:href => "https://fonts.googleapis.com/css?family=Muli&display=swap", :rel => "stylesheet"}

%link{:href => "https://fonts.googleapis.com/css?family=Roboto&display=swap", :rel => "stylesheet"}



.Critical_Step_frame
  .title_bar foodies
  .Description_and_Taskbar_frame
    .description_frame
      .intro_slide_highlighted_paragraph_background
        .top_box
          .step_title Step 2
          .critical Critical Step!
        .image_paragraph_box
          .image_container
            .image
              %img{:src => "https://www.incimages.com/uploaded_files/image/970x450/getty_855098134_353411.jpg", :style => "height: 52.26px; width: 82px;"}
            .image
              %img{:src => "https://www.incimages.com/uploaded_files/image/970x450/getty_855098134_353411.jpg", :style => "height: 52.26px; width: 82px;"}
            .image
              %img{:src => "https://www.incimages.com/uploaded_files/image/970x450/getty_855098134_353411.jpg", :style => "height: 52.26px; width: 82px;"}
          .step1_description Carefully pour batter out into prepared cake pan. Bake until cake is set and top is dull, about 20 minutes. Remove from oven, and let cool on a wire rack.
        .note 
          Note: Ensure step is done 
          before proceeding 
        .action_next
          .action_arrow
            %img{:src => "https://i.imgur.com/l57gfJe.png", :style => "height: 44px; width: 44px;"}
          
    .ProgressBar
      .status_previous Intro
      .status_previous 1
      .status_current 2
      .status_next 3
      .status_next 4
      .status_next 5
      .status_last Last